@model Booker.PageModel

<div class="container-fluid sidebar">
		<h3 style="text-align: right;">Incomplete draft:<br>do not cite!</h3>
	@{
		var pages = Model.Children??Model.Up.Children??Model.Up.SideTrails;
		var sec = Model.Children != null?Model:Model.Up??Model;
		var counter = sec.NumberChildrenFrom;

			@if (Model.SequenceNumber != "")
			{
				<p style="color: grey; padding-bottom: 0rem; margin-bottom: 0rem;">Section @Model.SequenceNumber</p>
			}
			<h5>@Raw(sec.EffectiveShortTitle)</h5>
			<ol start="@counter">
			@foreach (var page in pages) {
				if (page == Model)
				{
					<li class="sidebar"><a class="simplelink" href="@page.PageLink" id="section_page_@counter"> <b> @Raw(page.PageTitle) </b> </a> <br></li>
					if ((Model.Children == null || Model.Children.Length == 0) && Model.SideTrails != null && Model.SideTrails.Length > 0)
					{
						<ul>
						@foreach (var side in Model.SideTrails) {
							<li class="sidebar"><a class="simplelink" href="@side.PageLink"><i>@Raw(side.PageTitle)</i></a></li>
						}
						</ul>
					}
				}
				else
				{
					<li class="sidebar"><a class="backgroundlink" href="@page.PageLink" id="section_page_@counter"> @Raw(page.PageTitle) </a> <br></li>
				}
				counter++;
			}
			</ol>
			if (Model.Children != null && Model.Children.Length > 0 && Model.SideTrails != null && Model.SideTrails.Length > 0)
			{
				<ul>
					@foreach (var side in Model.SideTrails) {
						<li class="sidebar"><a class="simplelink" href="@side.PageLink"><i>@Raw(side.PageTitle)</i></a></li>
					}
				</ul>
			}
	}
	<script>
		document.addEventListener('keyup', function(e) {
			if (e.key >= '1' && e.key <= '9') document.getElementById('section_page_'+e.key).click()
		}, false);
	</script>
	</p>
	<br>
	<h5>Navigation</h5>
	<p style="text-align: left;">
	<table style="border: none;">
	@{
		if (Model.EffectiveNext != null)
		{
			<tr style="border: none;">
				<td style="border: none; vertical-align: top;"> <b>Next:</b> </td>
				<td style="border: none;"> 
					<a title="Click or press &#8594;" class="simplelink" id="NextPage" href="@Model.EffectiveNext.PageLink">@Raw(Model.EffectiveNext.EffectiveShortTitle)</a><br>
				</td>
			</tr>
			<script>
				document.addEventListener('keyup', function(e) {
					if (e.getModifierState("Meta") || e.getModifierState("Control")) return
					if (e.key == 'ArrowRight' || e.key == "Return")
					  document.getElementById('NextPage').click()
				}, false);
			</script>
			
		}
		if (Model.EffectivePrevious != null)
		{
			<tr style="border: none;">
				<td style="border: none; vertical-align: top;"> <b>Previous:</b> </td>
				<td style="border: none;"> 
					<a title="Click or press &#8592;" class="simplelink" id="PreviousPage" href="@Model.EffectivePrevious.PageLink">@Raw(Model.EffectivePrevious.EffectiveShortTitle)</a><br>
				</td>
			</tr>
			<script>
				document.addEventListener('keyup', function(e) {
					if (e.getModifierState("Meta")) return
					if (e.key == 'ArrowLeft') 
						document.getElementById('PreviousPage').click()
				}, false);
			</script>
		}
		if (Model.Up != null)
		{
			<tr style="border: none;">
				<td style="border: none; vertical-align: top;"> <b>Up:</b> </td>
				<td style="border: none;"> 
					<a title="Click or press &#8593;" class="simplelink" id="UpPage" href="@Model.Up.PageLink">@Raw(Model.Up.EffectiveShortTitle)</a><br>
				</td>
			</tr>
			<script>
				document.addEventListener('keyup', function(e) {
					if (e.getModifierState("Meta")) return
					if (e.key == 'ArrowUp') document.getElementById(e.getModifierState("Control")?'linkToIndex':'UpPage').click()
				}, false);
			</script>
		}
		if (Model.NextSection != null)
		{
			<tr style="border: none;">
				<td style="border: none; vertical-align: top;"><b>Next &sect;:</b></td>
				<td style="border: none;"> 
					<a title="Click or press Control-&#8594;" class="simplelink" id="NextSectionPage" href="@Model.NextSection.PageLink">@Raw(Model.NextSection.EffectiveShortTitle)</a><br>
				</td>
			</tr>
			<script>
				document.addEventListener('keyup', function(e) {
					if (e.getModifierState("Meta")) return
					if (e.key == 'ArrowRight'  && e.getModifierState("Control")) document.getElementById('NextSectionPage').click()
				}, false);
			</script>
		}
		if (Model.PreviousSection != null)
		{
			<tr style="border: none;">
				<td style="border: none; vertical-align: top;"><b>Prev &sect;:</b></td>
				<td style="border: none;"> 
					<a title="Click or press Control-&#8592;" class="simplelink" id="PreviousSectionPage" href="@Model.PreviousSection.PageLink">@Raw(Model.PreviousSection.EffectiveShortTitle)</a><br>
				</td>
			</tr>
			<script>
				document.addEventListener('keyup', function(e) {
					if (e.getModifierState("Meta")) return
					if (e.key == 'ArrowLeft'  && e.getModifierState("Control")) document.getElementById('PreviousSectionPage').click()
				}, false);
			</script>
		}
	}
	</table>
	</p>
	<div style="color: grey; padding-top: .5rem;">
		<a style="color: grey;" href="mailto:ian@northwestern.edu?subject=Comment on DPGD/@Model.PageLink">Send feedback on this page</a>
	</div>
</div>

