@model Booker.PageModel

<div class="container-fluid sidebar">
	@{
		var pages = Model.Children??Model.Up.Children;
		var sec = Model.Children != null?Model:Model.Up??Model;
		var counter = sec.NumberChildrenFrom;

			<h5>@sec.EffectiveShortTitle</h5>
			<ol start="@counter">
			@foreach (var page in pages) {
				if (page == Model)
				{
					<li><a class="simplelink" href="@page.PageLink" id="section_page_@counter"> <b> @page.PageTitle </b> </a> <br></li>
				}
				else
				{
					<li><a class="backgroundlink" href="@page.PageLink" id="section_page_@counter"> @page.PageTitle </a> <br></li>
				}
				counter++;
			}
			</ol>
	}
	<script>
		document.addEventListener('keyup', function(e) {
			if (e.key >= '1' && e.key <= '9') document.getElementById('section_page_'+e.key).click()
		}, false);
	</script>
	</p>
	<br>
	<h5>Navigation: (click or use arrow keys)</h5>
	<p>
	@{
		if (Model.EffectiveNext != null)
		{
			<a class="simplelink" id="NextPage" href="@Model.EffectiveNext.PageLink"><b>Next:</b> @Model.EffectiveNext.EffectiveShortTitle</a><br>
			<script>
				document.addEventListener('keyup', function(e) { if (e.key == 'ArrowRight' || e.key == "Return") document.getElementById('NextPage').click()}, false);
			</script>
		}
		if (Model.EffectivePrevious != null)
		{
			<a class="simplelink" id="PreviousPage" href="@Model.EffectivePrevious.PageLink"><b>Previous:</b> @Model.EffectivePrevious.EffectiveShortTitle</a><br>
			<script>
				document.addEventListener('keyup', function(e) { if (e.key == 'ArrowLeft') document.getElementById('PreviousPage').click()}, false);
			</script>
		}
		if (Model.Up != null)
		{
			<a class="simplelink" id="UpPage" href="@Model.Up.PageLink"><b>Up:</b> @Model.Up.EffectiveShortTitle</a><br>
			<script>
				document.addEventListener('keyup', function(e) { if (e.key == 'ArrowUp') document.getElementById('UpPage').click()}, false);
			</script>
		}
	}
	</p>
	<div style="color: grey; padding-top: .5rem;">
		<a style="color: grey;" href="mailto:ian@northwestern.edu?subject=Comment on DPGD/@Model.PageLink">Send feedback on this page</a>
	</div>
</div>

